*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
#header{
    width: 100%;
    background-color: gray;
    border: solid  black 2px;
}
#imagenp{
    background-color: rgb(167, 166, 166);
    width: 100%;
    height: 400px;
}
#container{
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    background-color: black;
}
#contacto{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(187, 187, 187);
    height: 610px;

}
#informacion{
    width: 80%;
    margin-top: 5%;
    background-color: rgb(187, 187, 187);
    height: 610px;
}
.escribir{
    width: 95%;
    height: 100px;
    background-color: gray;
    margin: auto;
    border: solid  black 2px;
}
.numeros{
    width: 95%;
    background-color: gray;
    margin: auto;
    margin-top: 40px;
    border: solid  black 2px;
}
.cuadros{
    background-color: rgb(167, 157, 157);
    width: 50%;
    margin: auto;
    flex-direction: column;
    border: solid  black 2px;
    margin-bottom: 10px;
    height: 90px;
    padding-bottom: 10px;
}
.display{
    display: flex;
    gap: 3%;
}
.mapa{
    margin: 8px;
    margin-top: 40px;
    background-color: gray;
    height: 150px;
    border: solid  black 2px;
}
#registro{
    width: 95%;
    height: 50px;
    margin-top: 40px;
    margin-left: 5px;
}
.nav{
    background-color: rgb(212, 210, 210);
    height: 25px;
    border-radius: 5px;
    width: 98%;
    margin: auto;
    margin-bottom: 5px;
}
#ultimoNav{
    height: 70px;
}
button{
    height: 28px;
    width: 98%;
    margin-top: 50px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
#imagenMapa{
    background-color: rgb(167, 166, 166);
    width: 100%;
    height: 250px;
}
.footer{
    background-color: rgb(121, 121, 121);
    width: 100%;
    height: 250px;
    border: solid black 2px;
}
.navHeader{
    display: flex;

    gap: 3%;
}
.nav2{
    border: solid black 2px;
    width: 60%;
    height: 45px;
    flex-direction: column;
    margin-left: 30%;
}
.logo{
    border: solid black 2px;
    height: 70px;
    width: 90px;
    margin-left: 15px;
}
.displayFooter{
    display: flex;
    gap: 2%;
}
.secciones{
    border: solid  black 2px;
    width: 31%;
    height: 210px;
    background-color: rgb(167, 166, 166);
    margin-left: 5px;
}
#seccion1{
    margin-left: 10px;
}
.logo2{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    margin-left: 25px;
}
.aside{
    height: 70px;
    width: 85%;
    border: solid black 2px;
    margin-left: 25px;
}
